/* Elementos principales de la página */
@font-face{
	font-family: 'letra-bonita';
	src: url('letra.ttf');
}

body{
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 14px;
    color: black;
}

header{
	display:flex;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	position: fixed;
}

#cont{
	margin-top: 150px;
	left:0;
	width: 100%;
}

#contenido{
	margin-left: 240px;
	overflow: auto;
	position: fixed;
	height: 500px;
	width: 100%;
	margin-top:20px;
}

#titulo{
	font-size: 22px;
	margin-left: 540px;
	font-family:'letra-bonita', serif;
}

.imgs{
	width: 200px;
	height: auto;
}

.fila{
	display:flex;
	text-align: center;
	margin-top: 40px;
	margin-left: 100px;
}

.pelicula{
	font-size: 18px;
	margin-left: 100px;
	margin-bottom: 50px;
	line-height: 5px;
}

#menu{
	margin-left: 20px;
	width: 220px;
	overflow: auto;
	position: fixed;
	height: 500px;
}

#pie{
	font-size: 18px;
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	left:0;
}


#aux{
	margin-top: 50px;
	float: right;
}

.botones{
	background-color: #d9eeff;
	border:1px solid black;
	font-size: 14px;
	height: 20px;
	border-radius: 10px 10px 10px 10px;
}

#logo{
	width: 250px;
	height: auto;
	padding-left: 0;
}

#carrito{
	width: 60px;
	height: 60px;
	margin-left: 30px;
	margin-bottom: -20px;
}

#top{
	font-size: 16px;
	height: 30px;
}

#micuenta{
	margin-left: 800px;
	font-size: 20px;
	height: 40px;
}



h1{
	font-family:'letra-bonita', serif;
	font-size: 25px;
}

li {
	padding-bottom: 10px;
	font-size: 18px;

}

#iconos{
	width: auto;
	height: 30px;
	margin-top: -50px;
}
