<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"  href="../static/css/style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<title>Registro</title>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script language="javascript">
			base_url="{{url_for('index')}}"
			$(function(){
				$('#pass').keyup(function(e) {
					var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
					var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
					var enoughRegex = new RegExp("(?=.{6,}).*", "g");
					if (false == enoughRegex.test($(this).val())) {
					     $('#passstrength').html('Mas caracteres.');
					     $('#passstrength').css('color', 'red');
					} else if (strongRegex.test($(this).val())) {
					     $('#passstrength').className = 'ok';
					     $('#passstrength').html('Fuerte');
					     $('#passstrength').css('color', 'green');
					} else if (mediumRegex.test($(this).val())) {
					     $('#passstrength').className = 'alert';
					     $('#passstrength').html('Media');
					     $('#passstrength').css('color', 'orange');
					} else {
					     $('#passstrength').className = 'error';
					     $('#passstrength').html('Debil');
					     $('#passstrength').css('color', 'yellow');
					}
					return true;
				});

			});


			$(function() { //declaramos función
				$('#registrarse').click(function() {
					event.preventDefault();
					$.ajax({
						beforeSend: function(){
							return validarRegistro();
						},
						url: "{{url_for('signUp')}}",
						cache: false,
						data: $('#formulario').serialize(),
						type: 'POST',
						success: function(response) {
							if(response.result == "ERROR_EMAIL"){
								$("#error_registro").text("Lo sentimos, este email ya esta en uso.");
							}else{
								location.href = base_url.concat("set_cookie/").concat(response.result);
							}
						},
						error: function(error) {
							console.log(error);
						}
					});
				});
				return false;
			});

			function validarRegistro(){
				var formulario = document.getElementsByName('formulario')[0],
					nombre = formulario.nombre.value,
					email = formulario.email.value,
					contrasenna1 = formulario.contrasenna1.value,
					contrasenna2 = formulario.contrasenna2.value,
					tarjeta = formulario.tarjeta.value,
					isChecked = document.getElementById('politica').checked,
					expresion_tarjeta = /^(?:4\d([\- ])?\d{6}\1\d{5}|(?:4\d{3}|5[1-5]\d{2}|6011)([\- ])?\d{4}\2\d{4}\2\d{4})$/,
					expresion_correo = /\w+@\w+\.+[a-z]/;

				if(nombre==""||email==""||contrasenna1==""||contrasenna2==""||tarjeta==""){
					alert("Todos los campos son obligatorios.");
					return false;
				}
				if(!expresion_correo.test(email)){
					alert("El email introducido es erroneo.");
					return false;
				}
				if(!expresion_tarjeta.test(tarjeta)){
					alert("Formato de tarjeta no valido. Debe empezar por 4 y tener 16 numeros.");
					return false;
				}
				if(nombre.length < 2){
					alert("El nombre debe contener al menos dos caracteres.");
					return false;
				}
				if(contrasenna1.length < 8){
					alert("La contraseña debe contener minimo 8 caracteres");
					return false;
				}
				if(contrasenna1 != contrasenna2){
					alert("Las contraseñas no coinciden, revisalas!.");
					return false;
				}
				if(isNaN(tarjeta) || tarjeta<0){
					alert("La tarjeta ingresada no es correcta.");
					return false;
				}
				if(!isChecked){
					alert("Debe aceptar la politica de privacidad para registrarse.");
					return false;
				}

				return true;
			}
			function open_politica(){
				window.open("{{url_for('privacidad')}}", "Politica de privadidad", "width=500, height=650")
			}

			function actualizar_banner(){
			   	$.ajax({
			   	url: "{{url_for('actualizar_banner')}}",
					cache: false,
					type: 'POST',
					success: function(response) {
						$("#banner").text("Usuarios conectados: " + response.conectados);
						$("#banner").css('font-weight', 'bold');
					}
			   	});
			   	setTimeout("actualizar_banner()",3000)
			}
		</script>
	</head>

	<body onload="actualizar_banner()">
			<header>
				<div id="cabecera">
					<a href="{{url_for('index')}}"><img src="../static/imgs/logo.png" alt="logo el proyector" id="logo"/></a>
					<div id="head-center">
						<form action="{{url_for('buscar')}}" name="buscador" method="post" id ="prueba">
							<select id=filtro name="FiltrarPorGenero">
								<option selected disabled hidden>Genero</option>
								{% for categoria in content['categorias'] %}
									<option value="{{categoria}}">{{categoria}}</option>
								{% endfor %}
							</select>
		      				<input id="text-buscar" type="text" placeholder="Buscar..." name="titulo">
		      				<button id="boton-buscar" type="submit" ><i class="material-icons">search</i></button>
		      			</form>
					</div>
					<div id="head-right">
						<form action="{{url_for('micuenta')}}">
    						<input type="submit" value="Mi cuenta" class="max-boton">
						</form>
						<a href="{{url_for('carrito')}}"><img src="../static/imgs/carrito.png" alt="carrito" id="carrito"/></a>
					</div>
				</div>
			</header>
			<div id="cont">
				<div id="menu">
					<h1 id="categorias"><b>Categorias</b></h1>
					<ul>
						{% for categoria in content['categorias'] %}
							<li><a href="{{url_for('mostrar_categoria', categoria = categoria)}}">{{categoria}}</a></li>
						{%endfor%}
					</ul>
					<form action="{{url_for('top')}}">
						<input type="submit" value="TOP VENTAS" class="normal-boton">
					</form>
					<br>
					<div id="banner"></div>
				</div>

				<div id="contenido">
					<div id="datos-registro">
					<form action='#' id="formulario" name="formulario" method="post">
						<b class="max-letra">Escribe tus datos personales</b>
						<p>Email
						<input id="email" type="text" name="email" placeholder="Email" class="input"></p>
						<p>Nombre de usuario
						<input type="text" name="nombre" placeholder="Nombre" class="input"></p>
						<p>Contraseña
						<input type="password" id = "pass" name="contrasenna1" class="input" placeholder="Contraseña">
						<span id="passstrength"></span>
						</p>
						<p>Repetir contraseña
						<input type="password" name="contrasenna2" class="input" placeholder="Contraseña"></p>
						<p>Tarjeta de crédito
						<input type="text" name="tarjeta" placeholder="Tarjeta de crédito" class="input"></p>
						<br>
						<input type="checkbox" name="casilla2" class="check-box" id ="politica">  He leido y acepto la <b id="privacidad" style="cursor:pointer;" onclick="open_politica()">Poli­tica de privacidad</b>.<br>

						<br>
						<input id="registrarse" type="submit" value="REGISTRARSE" class="normal-boton">
						<div id = "error_registro"></div>
					</form>
					</div>
				</div>
			<footer>
					<div id="pie">
						<p>Puedes seguirnos en </p>
						<img src="../static/imgs/iconos.png" id="iconos" alt="iconos">
					</div>
			</footer>
	</body>
</html>
