<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"  href="../static/css/style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<title>Carrito</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script language="javascript">
			function comprar(){
				event.preventDefault();
				$.ajax({
					url: "/comprar",
					cache: false,
					type: 'POST',
					success: function(response) {
						if(response.result == "NOT_SESSION"){
							alert("Antes de realizar la compra, tienes que iniciar sesion o registrarte.");
							location.href = "/micuenta";
						}else if(response.result == "NOT_MONEY"){
							alert("Vaya, no tienes un saldo suficiente en tu tarjeta. Prueba a eliminar algunas peliculas.");
						}else if(response.result == "NOT_CARRITO"){
							alert("No hay peliculas en el carrito!");
						}
						else{
							alert("Has realizado tu compra correctamente! Ya puedes disfrutar de las peliculsa adquiridas.");
							location.href = "/carrito";
						}
					}
				});
			}

			function borrar(id) {
   				event.preventDefault();
   				document.getElementById(id).remove();
    			$.ajax({
					url: "/borrar/".concat(id),
					cache: false,
					type: 'POST',
					success: function(response) {
						if(response.precio == 0){
							location.href = "/carrito"
						}else{
							document.getElementById("precio").innerHTML = response.precio;
						}
					}
				});
			}

			function actualizar_banner(){ 
			   	$.ajax({
			   		url: "/actualizar_banner",
					cache: false,
					type: 'POST',
					success: function(response) {
						$("#banner").text("Usuarios conectados: " + response.conectados);
						$("#banner").css('font-weight', 'bold');
					}
			   	});
			   	setTimeout("actualizar_banner()",3000) 
			}
		</script>
	</head>

	<body onload="actualizar_banner()">
			<header>
				<div id="cabecera">
					<a href="/"><img src="../static/imgs/logo.png" alt="logo el proyector" id="logo"/></a>
					<div id="head-center">
						<form action="/search" name="buscador" method="post">
							<select id=filtro name="FiltrarPorGenero">
								<option selected disabled hidden>Genero</option>
		  						<option value="Accion">Accion</option>
		  						<option value="Animacion">Animacion</option>
		  						<option value="Ficcion">Ficcion</option>
		  						<option value="Comedia">Comedia</option>
		  						<option value="Drama">Drama</option>
		  						<option value="Misterio">Misterio</option>
		  						<option value="Musical">Musical</option>
		  						<option value="Romantica">Romantica</option>
							</select>
		      				<input id="text-buscar" type="text" placeholder="Buscar..." name="titulo">
		      				<button id="boton-buscar" type="submit" ><i class="material-icons">search</i></button>
		      			</form>
					</div>
					<div id="head-right">
						<form action="/micuenta">
    						<input type="submit" value="Mi cuenta" class="max-boton">
						</form>
						<img src="../static/imgs/carrito.png" alt="carrito" id="carrito"/>
					</div>
				</div>
			</header>
			<div id="cont">
				<div id="menu">
					<h1 id="categorias"><b>Categorias</b></h1>
					<ul>
						<li><a href="/categorias/Accion">Accion</a></li>
						<li><a href="/categorias/Animacion">Animacion</a></li>
						<li><a href="/categorias/Ficcion">Ficcion</a></li>
						<li><a href="/categorias/Comedia">Comedia</a></li>
						<li><a href="/categorias/Drama">Drama</a></li>
						<li><a href="/categorias/Misterio">Misterio</a></li>
						<li><a href="/categorias/Musical">Musical</a></li>
						<li><a href="/categorias/Romantica">Romantica</a></li>
					</ul>
					<form action="/top_ventas">
						<input type="submit" value="TOP VENTAS" class="normal-boton">
					</form>
					<br>
					<div id="banner"></div>
				</div>

				<div id="contenido">
					<div id="cont-carrito">
						<b class="max-letra">Tu carrito</b>
						{% if carrito %}
						<div id="tabla_carrito">
							<table class="pedidos" id="tabla-carrito">
	  							<tr>
	    							<th>Titulo</th>
									<th>Unidades</th> 
									<th>Precio EUR</th>
									<th>Eliminar</th>
	  							</tr>
	  							{% for dic in carrito %}
		  							<tr id = "{{dic['peli']['id']}}">
		    							<td>{{ dic['peli']['titulo'] }}</td>
										<td>{{dic['n']}}</td> 
										<td>{{dic['peli']['precio']}}</td>
										<td><INPUT class ="borrar" type="radio" name="eliminar" value="eliminar" onclick="borrar({{dic['peli']['id']}})"></td>
		  							</tr>
		  						{% endfor %}
							</table>
						</div>
						<div id="total">
							<b>Total:</b>
							<div id="precio">{{precio}}</div>
						</div>
						<input type="submit" value="COMPRAR" class="normal-boton" id="comprar" onclick="comprar()">
						{% else %}
							<p> Tu carrito esta vacio, ¿a que esperas para empezar a comprar?</p>
						{% endif %}
					</div>
				</div>
			</div>
			<footer>
				<div id="pie">
					<p>Puedes seguirnos en </p>
					<img src="../static/imgs/iconos.png" id="iconos" alt="iconos">
				</div>
			</footer>
	</body>
</html>
